* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual{
  width: 100%;
  height: 440px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline{
  color: gray;
  padding:20px;
}

main{
width: 840px;
margin: 50px auto;
}

.section1
{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}
.section2
{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}
.section3
{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}
.section4
{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.image{
  padding: 20px;
}